<div class="container col-lg-12">
<nav class="navbar navbar">
    <ul class="nav navbar-nav nav-pills pull-left">
        <li role="presentation">
            <a href="#/home" class="button1">Home</a>
        </li>
        <li role="presentation">
            <a href="#/user" class="button1">View profile</a>
        </li>
        <li role="presentation" >
            <a href="#/users" class="button1">All users</a>
        </li>
        <li role="presentation">
            <a href="#/wishes" class="button1">My wishes</a>
        </li>
        <li role="presentation">
            <a href="#/wish" class="button1">New wish</a>
    </ul>
    <ul class="nav navbar-nav nav-pills pull-right">
        

        </li>
        <li role="presentation" ng-controller="LogoutController">
            <a href="" ng-click="logout()" class="button1">Logout</a>
        </li>
    </ul> 
    
</nav>
</div>