<wishlistheader></wishlistheader>

<div class="container col-lg-12">
    <h1 class="text-center text_style">Welcome To The Wishlist Application </h1>
    
    <hr>
        <br>
    <ul class="list-inline text-center">
        <li>
            <a href="/#/user"  class="btn btn-info btn-lg text-center button">View Your Profile</a>
        </li>
        <li>
            <a href="/#/users"  class="btn btn-info btn-lg text-center button">View All Users</a>
        </li>
    </ul>
    <hr>
    <br>
    <ul class="list-inline text-center">
        
        <li>
            <a href="/#/wish" class=" button btn btn-info btn-lg text-center">Add A New Wish !!</a>
        </li>
        <li>
            <a href="/#/wishes" class="button btn btn-info btn-lg text-center">View Your Wishlists</a>
        </li>
    </ul>
<hr>
</div>