<wishlistheader></wishlistheader>
<div class="container col-lg-12 v-center22" ng-controller="NewWishController">
  <h1>New Wish</h1>
  <hr>
  <div ng-form="wishForm" ng-class="{'has-error':
    (wishForm.url.$invalid && wishForm.url.$dirty) || 
    (wishForm.title.$invalid && wishForm.title.$dirty) ||
    (wishForm.description.$invalid && wishForm.description.$dirty)}">
    <div class="col-lg-6">
      <div class="form-group">
      <label>Title</label>
      <input type="text" class="form-control" name="title" ng-model="title" placeholder="Give your wish a name" required>
    </div>
    <uib-alert type="danger" ng-if="wishForm.title.$dirty && wishForm.title.$invalid">Please enter a name</uib-alert>
     <div class="form-group">
      <label>Description</label>
      <textarea type="text" class="form-control" name="description" ng-model="description" placeholder="Enter a description" style="max-width:100%" required>
        </textarea>
    </div>
     <uib-alert type="danger" ng-if="wishForm.description.$dirty && wishForm.description.$invalid">Please enter a description</uib-alert>
    
      <div class="form-group">
    <label>Image search</label>
    <div class="input-group text-center">
      <input type="text" class="form-control" name="url" ng-model="url" placeholder="Enter a URL" required>
      <span class="input-group-btn text-center">
        <button class="btn btn-warning btn-secondary" type="button" ng-click="imageSearch(url)">Image Search</button>
      </span>
      </div>
      </div>
    <br>
    <uib-alert type="danger" ng-if="urlfound==false">Please enter a URL</uib-alert>
    <img src="{{image}}" style="max-height:100px; max-width:100px; margin:auto; display:block;">
    <br>
        <div class="form-group text-center">
        <button type="submit" class="btn btn-default" ng-click="newWish()">Add Wish</button>
      </div>
  </div>
  </div>
